@import '../../../../styles/colors.scss';

.mixWikTeams {
    .title {
        text-align: center;
    }

    .advantages {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 40vw;
        }

        li {
            display: grid;
            grid-template-columns: 1fr 5fr;
            width: 100%;
            gap: 1rem;

            svg {
                align-self: center;
                justify-self: center;
                min-width: 1.5rem;
                min-height: 1.5rem;
                width: 1.5rem;
                height: 1.5rem;
                color: green;
            }
        }

    }
    .cancelRenovate {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 1rem;
        .paragraph {
            text-align: center;
            span {
                font-weight: bold;
            }
        }
        .cancel {
            background-color: red;
            color: $white;
            padding: 1rem 2rem;
            border-radius: .3rem;
            font-weight: bold;
            &:hover {
                background-color: $white;
                color: red;
            }
        }
    }
}