@import '../../styles/colors.scss';

.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: $BLACK;
  z-index: 10;
  background-color: $WHITE;
  display: flex;
  justify-content: center;
  overflow: scroll;
  padding-top: 1rem;

  &::-webkit-scrollbar {
    width: .5rem;
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    background-color: $WHITE;
    border-radius: .5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $PURPLE;
    border-radius: .5rem;
  }

  @media screen and (min-width: 768px) {
    top: 10vh;
    width: 60vw;
    height: 90vh;
  }

  .numberOfUsers {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $PURPLE;
    color: $WHITE;
    padding: .5rem;
    border-radius: 0 0 1rem 0;

    @media screen and (min-width: 768px) {
      top: 10vh;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .buttonClose {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 50%;
    background-color: $PURPLE;
    color: $WHITE;
  }
}