@import '../../../../../styles/colors.scss';

.editImages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 26rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: $black--transparent;
  backdrop-filter: blur(5px);

  @media screen and (min-width: 768px) {
    height: 36rem;
  }

  .principalImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    position: relative;
    border: 2px solid $aero;
    border-radius: .5rem;
    overflow: hidden;
    cursor: pointer;

    svg {
      width: 3rem;
      height: 3rem;
      color: $aero;
    }

    input {
      display: none;
    }

    .previewImage {
      position: absolute;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 10rem;
        height: 10rem;
      }

      button {
        position: absolute;
        background-color: transparent;
        box-shadow: 0px 0px 5px red;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 1s;
        overflow: hidden;

        &:hover {
          background-color: red;

          svg {
            color: $white;
          }
        }

        svg {
          color: red;
          width: 3rem;
          height: 3rem;
          transition: color 1s;
        }
      }
    }
  }

  .teams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;

    label {
      width: 5rem;
      height: 5rem;

      @media screen and (min-width: 768px) {
        width: 6rem;
        height: 6rem;

      }
    }
  }

  .noTeams {
    div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      margin-bottom: 1rem;

      span {
        width: 5rem;
        height: 5rem;
        border-radius: .2rem;
        background-color: $white;
        border: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: not-allowed;

        @media screen and (min-width: 768px) {
          width: 6rem;
          height: 6rem;

        }
      }
    }
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;

    button {
      background-color: $aero;
      color: $white;
      padding: .5rem 1rem;
      border-radius: .2rem;
      border: none;
      border: 1px solid $aero;
      cursor: pointer;
      transition: all 1s;
      &:hover {
          background-color: $white;
          color: $aero;
          border: 1px solid $aero;
      }
      &:disabled {
        background-color: gray;
        cursor: not-allowed;
      }
    }
  }
}