@import '../../../../styles/colors.scss';

.publicationTitle {
    font-size: 1.2em;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2rem;
    display: flex;
    gap: 1rem;

    h1 {
      display: flex;
      gap: .5rem;

      svg {
        width: 1rem;
        height: 1rem;
        color: $aero;
      }

    }
  }