@import '../../../../styles/colors.scss';

.csgo {
  position: absolute;
  width: 100vw;
  height: 90vh;
  background-color: $frenchBlue;
  transform: translateY(100%);
  transition: transform 1s;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 80vw;
  }

  &[data-open=true] {
    transform: translateY(0);
  }

  .head {
    display: flex;
    justify-content: space-around;

    .cancel {
      font-size: .9em;
      padding: .5rem 1rem;
      background-color: transparent;
      border-radius: 2rem;
      border: 1px solid $aero
    }
  }

  .newPublication {
    height: 90vh;
    width: 90vw;

    @media screen and (min-width: 768px) {
      width: 50vw;
    }

    .form {
      form {
        height: 90vh;
        overflow: scroll;
        scroll-snap-type: Y mandatory;

        .position,
        .level {
          height: 100%;
          scroll-snap-align: center;

          .inputBox {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            @media screen and (min-width: 768px) {
              grid-template-columns: repeat(3, 1fr)
            }

            label {
              border: 2px solid $aero;
              padding: .7rem;
              transition: background-color .5s, color .5s;
              text-align: center;
              font-weight: bold;
              border-radius: .3rem;
            }

            input {
              appearance: none;
              position: absolute;

              &:checked+label {
                background-color: $pennBlue;
                color: $white;
              }
            }
          }
        }

        .hours {
          background-color: yellow;
        }

        .typeOfGamer {
          background-color: blueviolet;
        }

        .description {
          background-color: yellowgreen
        }

      }
    }
  }
}