@import '../../../../styles/colors.scss';

.csgo {
  position: absolute;
  width: 100vw;
  height: 90vh;
  background-color: $frenchBlue;
  transform: translateY(100%);
  transition: transform 1s;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 80vw;
  }

  &[data-open=true] {
    transform: translateY(0);
  }

  .newPublication {
    height: 90vh;
    width: 90vw;

    @media screen and (min-width: 768px) {
      width: 50vw;
    }

    .title {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem;
    }

    .form {
      form {
        position: relative;
        height: 70vh;
        overflow: scroll;
        scroll-snap-type: Y mandatory;
        background-color: $white;

        &::-webkit-scrollbar {
          width: .5rem;
          height: 0px;
        }

        @media screen and (min-width: 768px) {
          height: 70vh;
        }

        .position,
        .level,
        .hoursAndType,
        .description,
        .image {
          height: 100%;
          scroll-snap-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 3rem;

          h3 {
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            padding: 1rem;
          }

          .inputBox {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            place-items: center;
            padding: 1rem;

            @media screen and (min-width: 768px) {
              grid-template-columns: repeat(3, 1fr)
            }

            label {
              border: 2px solid $aero;
              padding: .7rem;
              transition: background-color .5s, color .5s;
              text-align: center;
              font-weight: bold;
              border-radius: .3rem;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }

            input {
              appearance: none;
              position: absolute;

              &:checked+label {
                background-color: $pennBlue;
                color: $white;
              }
            }
          }
        }

        .hoursAndType {
          gap: 6rem;

          .hours {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            input[type="range"] {
              appearance: none;
              width: 10rem;
              height: .4rem;
              background: $aero;
              outline: none;
            }
    
            input[type="range"]::-webkit-slider-thumb {
              /* estilos para el control deslizante */
              appearance: none;
              width: 1.2rem;
              height: 1.2rem;
              background: $aero;
              border-radius: 50%;
              cursor: pointer;
            }
          }

          .typeOfGamer {
            .inputBox {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }

        .description {
          gap: 2rem;

          textarea {
            width: 90%;
            height: 15rem;
            border-radius: .5rem;
            padding: 1rem;
            border: 1px solid $aero;
            resize: none;

            @media screen and (min-width: 768px) {
              width: 50%;
            }
          }

        }

        .image {
          .principalImage {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10rem;
            height: 10rem;
            position: relative;
            border: 2px solid $aero;
            border-radius: .5rem;
            overflow: hidden;
            cursor: pointer;

            svg {
              width: 3rem;
              height: 3rem;
            }

            input {
              display: none;
            }

            .previewImage {
              position: absolute;
              z-index: 1;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 10rem;
                height: 10rem;
              }

              button {
                position: absolute;
                background-color: transparent;
                box-shadow: 0px 0px 5px red;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color 1s;
                overflow: hidden;

                &:hover {
                  background-color: red;

                  svg {
                    color: $white;
                  }
                }

                svg {
                  color: red;
                  width: 3rem;
                  height: 3rem;
                  transition: color 1s;
                }
              }
            }
          }

          .teams {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 1rem;
              margin-bottom: 1rem;
              @media screen and (min-width: 768px) {
                display: flex;
              }

            label {
              width: 5rem;
              height: 5rem;
              @media screen and (min-width: 768px) {
                width: 6rem;
                height: 6rem;
                
              }
            }
          }

          .noTeams {
            div {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 1rem;
              margin-bottom: 1rem;
              @media screen and (min-width: 768px) {
                display: flex;
              }
              span {
                width: 5rem;
                height: 5rem;
                border-radius: .2rem;
                background-color: $white;
                border: 1px solid gray;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: not-allowed;
                @media screen and (min-width: 768px) {
                  width: 6rem;
                  height: 6rem;
                  
                }
              }
            }
          }
        }

        .buttons {
          position: fixed;
          bottom: .5rem;
          left: 0;
          z-index: 10;
          display: flex;
          width: 100%;
          justify-content: center;
          gap: 2rem;

          @media screen and (min-width: 768px) {
            bottom: 1rem;
          }

          button {
            background-color: $aero;
            color: $white;
            border-radius: .5rem;
            padding: 1rem 3rem;

            &:disabled {
              background-color: gray;
              cursor: not-allowed;
            }

            @media screen and (min-width: 768px) {
              padding: 1rem 5rem;
            }
          }
        }
      }
    }
  }
}