@import '../../../styles/colors.scss';

.newPublication {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  overflow: hidden;

  .title {
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
    width: 100vw;
    background-color: $aero;
    padding: 1rem;
    color: $white;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      height: 5vh;
      width: 60vw;
    }
  }

  .listOfCategories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 1rem;
    width: 100vw;
    height: 85vh;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem;
      gap: 3rem 2rem;
      width: 60vw;
      height: 85vh;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $aero;
      padding: 1.5rem;
      border-radius: .5rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 1s, color 1s;
      @media screen and (min-width: 768px) {
        width: 20rem;
        height: 7rem;
        justify-self: center;
        align-self: center;
      }

      &:hover {
        background-color: $aero;
        color: $white;
        svg {
          transform: translateX(1rem);
          color: $white;
        }
      }

      img {
        height: 2rem;
        width: 2rem;
        @media screen and (min-width: 768px) {
          height: 4rem;
          width: 4rem;
        }
      }

      svg {
        color: $pennBlue;
        height: 1.5rem;
        width: 1.5rem;
        transition: transform 1s, color 1s;
      }
    }
  }
}