@import '../../../../styles/colors.scss';

.hours {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  padding: 2rem 1rem;
  background-color: $white;
  border-top: 1px solid $frenchBlue;

  h2 {
    display: flex;
    gap: .5rem;

    button, a {
      background-color: transparent;

      svg {
        width: 1rem;
        height: 1rem;
        color: $aero;
      }
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;

    li {
      text-align: center;
      background-color: $aero;
      color: $white;
      padding: .3rem;
      border-radius: .3rem;
    }
  }
}
