.ours {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  margin-bottom: 15vh;
  background-image: url('../../public/bg/bg_gray.svg');
  background-size: cover;

  @media screen and (min-width: 768px) {
    gap: 0;
    padding: 0;
    justify-content: space-evenly;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
  }

  p {
    width: 90vw;

    @media screen and (min-width: 768px) {
      width: 50vw
    }
  }
}