@import '../../styles/colors.scss';

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../../public/bg/bg_gray.svg');
    min-height: 90vh;

    .userData,
    .reportedUser {
        position: relative;
        background-color: $white;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        border-radius: 0 0 .7rem .7rem;

        @media screen and (min-width: 768px) {
            align-items: flex-start;
            width: 80vw;
            height: 30vh;
        }

        .imageNameAge {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-weight: bold;

            img {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
            }
        }

        .reportButton {
            position: static;
            right: 2rem;
            top: 2rem;
            background-color: red;
            color: $white;
            padding: .5rem;
            border-radius: .5rem;

            @media screen and (min-width: 768px) {
                position: absolute;
            }
        }
    }

    .reportedUser {
        h1 {
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
        }
        p {
            span, 
            a {
                font-weight: bold;
            }
        }
    }

    .publications {
        width: 100vw;
        margin-bottom: 15vh;

        @media screen and (min-width: 768px) {
            margin-bottom: 5vh;
            width: 80vw;
        }

        h2 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 2rem;
        }

        .publicationsBox {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
            width: 100%;
            gap: 1rem 0;

            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}