@import '../../styles/colors.scss';

.csgo {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 60vw;
  }

  .kmSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    color: $BLACK;
    padding: 2rem;

    input[type="range"] {
      /* estilos para el elemento input */
      appearance: none;
      max-width: 10rem;
      height: .5rem;
      background: $GRADIENT;
      border-radius: 5px;
      outline: none;
    }

    input[type="range"]::-webkit-slider-thumb {
      /* estilos para el control deslizante */
      appearance: none;
      width: 1.5rem;
      height: 1.5rem;
      background: $PURPLE;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .gamersBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 2rem;
    gap: 2rem 0;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .title {
      grid-column: 1/3;
      text-align: center;
      padding: 1rem;
      font-size: 2rem;
      color: $BLACK;

      @media screen and (min-width: 768px) {
        grid-column: 1 / 4;
      }
    }

    .gamers {
      justify-self: center;
      width: 8rem;
      height: 10rem;
      border-radius: 1rem;
      color: $BLACK;
      overflow: hidden;
      box-shadow: 0px 0px 5px $PURPLE;
      cursor: pointer;

      @media screen and (min-width: 768px) {
        width: 10rem;
        height: 12rem;
      }

      img {
        width: 100%;
        height: 6rem;
        object-fit: cover;
      }

      .name {
        text-align: center;
      }
    }
  }

  button {
    padding: 1rem 5rem;
    background-color: $PURPLE;
    color: $WHITE;
    border-radius: .5rem;
  }
}