@import '../../../../../styles/colors.scss';

.gamesForms {
  position: absolute;
  width: 100vw;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;

  @media screen and (min-width: 768px) {
    width: 80vw;
  }

  .newPublication {
    height: 90vh;
    width: 100vw;

    @media screen and (min-width: 768px) {
      width: 85vw;
    }

    .title {
      font-size: 1.3em;
      font-weight: bold;
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 1rem;
      background-color: $aero;
      color: $white;
    }

    .form {
      form {
        position: relative;
        height: 85vh;
        overflow: scroll;
        scroll-snap-type: Y mandatory;
        background-color: $white;

        &::-webkit-scrollbar {
          width: .5rem;
          height: 0px;
        }

        &::-webkit-scrollbar-track {
          background: $pennBlue;
        }

        &::-webkit-scrollbar-thumb {
          background: $aero;
          border-radius: 1rem;
        }

        @media screen and (min-width: 768px) {
          height: 85vh;
        }

        .position,
        .level,
        .preferenceTeam,
        .hoursAndType,
        .descriptionBox,
        .image {
          height: 100%;
          scroll-snap-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h3 {
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            padding: 1rem;
          }

          .inputBox {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            place-items: center;
            padding: 1rem;

            @media screen and (min-width: 768px) {
              grid-template-columns: repeat(3, 1fr);
              gap: 3rem;
            }

            label {
              border: 2px solid $aero;
              padding: 1em;
              transition: background-color .5s, color .5s;
              text-align: center;
              font-weight: bold;
              border-radius: .3rem;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              @media screen and (min-width: 768px) {
                padding: 1.5rem;
              }
            }

            input {
              appearance: none;
              position: absolute;

              &:checked+label {
                background-color: $pennBlue;
                color: $white;
              }
            }
          }
        }

        .hoursAndType {
          gap: 4rem;

          .hours {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            input[type="range"] {
              appearance: none;
              width: 90vw;
              height: .4rem;
              background: $aero;
              outline: none;

              @media screen and (min-width: 768px) {
                width: 20vw;
              }
            }

            input[type="range"]::-webkit-slider-thumb {
              /* estilos para el control deslizante */
              appearance: none;
              width: 1.2rem;
              height: 1.2rem;
              background: $aero;
              border-radius: 50%;
              cursor: pointer;
            }
          }

          .typeOfGamer {
            .inputBox {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }

        .descriptionBox {
          .titlePublication,
          .descriptionPublication,
          .socialPublication {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: 1.2em;
            font-weight: bold;
          }
          .titlePublication,
          .socialPublication {
            .title,
            .social {
              font-weight: 100;
              background-color: $white;
              color: $black;
              font-size: 1em;
              text-align: left;
              width: 90%;
              height: 3rem;
              border-radius: .5rem .5rem 0 0;
              padding: 1rem;
              border: 1px solid $aero;

              @media screen and (min-width: 768px) {
                width: 60%;
              }
            }
          }
          .socialPublication {
            margin-top: 2rem;
            .social {
              border-radius: .5rem;
            }
          }

          .descriptionPublication {
            .description {
              width: 90%;
              height: 15rem;
              border-radius: 0 0 .5rem .5rem;
              padding: 1rem;
              border: 1px solid $aero;
              resize: none;

              @media screen and (min-width: 768px) {
                width: 60%;
              }
            }
          }
        }

        .image {
          gap: 2rem;

          .principalImage {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10rem;
            height: 10rem;
            position: relative;
            border: 2px solid $aero;
            border-radius: .5rem;
            overflow: hidden;
            cursor: pointer;

            svg {
              width: 3rem;
              height: 3rem;
            }

            input {
              display: none;
            }

            .previewImage {
              position: absolute;
              z-index: 1;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 10rem;
                height: 10rem;
              }

              button {
                position: absolute;
                background-color: transparent;
                box-shadow: 0px 0px 5px red;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color 1s;
                overflow: hidden;

                &:hover {
                  background-color: red;

                  svg {
                    color: $white;
                  }
                }

                svg {
                  color: red;
                  width: 3rem;
                  height: 3rem;
                  transition: color 1s;
                }
              }
            }
          }

          .teams {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            margin-bottom: 1rem;

            @media screen and (min-width: 768px) {
              display: flex;
            }

            label {
              width: 5rem;
              height: 5rem;

              @media screen and (min-width: 768px) {
                width: 6rem;
                height: 6rem;

              }
            }
          }

          .noTeams {
            div {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 1rem;
              margin-bottom: 1rem;

              @media screen and (min-width: 768px) {
                display: flex;
              }

              span {
                width: 5rem;
                height: 5rem;
                border-radius: .2rem;
                background-color: $white;
                border: 1px solid gray;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: not-allowed;

                @media screen and (min-width: 768px) {
                  width: 6rem;
                  height: 6rem;

                }
              }
            }
          }
        }

        .buttons {
          position: fixed;
          bottom: 3rem;
          right: 1rem;
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 5vh;
          @media screen and (min-width: 768px) {
            left: auto;
            bottom: 1rem;
          }

          button {
            background: $gradient;
            color: $black;
            font-weight: bold;
            height: 5vh;
            padding: .2rem 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &:disabled {
              background-color: gray;
              cursor: not-allowed;
            }
          }
          .cancel {
            background-color: $pennBlue;
            color: $white;
          }
        }
      }
    }
  }
}