@import '../../../../../styles/colors.scss';

.editTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    width: 100%;

    input {
        width: 100%;
        resize: none;
        color: $black;
        padding: 1rem;
        border-radius: 1rem;
        background-color: $white;
        border: 1px solid $aero;
    }

    span {
        font-size: .9em;
        color: red;
    }

    .buttons {
        display: flex;
        gap: 1rem;

        button {
            background-color: $aero;
            color: $white;
            padding: .5rem 1rem;
            border-radius: .2rem;
            border: none;
            border: 1px solid $aero;
            cursor: pointer;
            transition: all 1s;

            &:hover {
                background-color: $white;
                color: $aero;
                border: 1px solid $aero;
            }

            &:disabled {
                background-color: gray;
                cursor: not-allowed;
            }
        }
    }
}