@import '../../styles/colors.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  background-color: $pennBlue;
  color: $white;
  margin-bottom: 10vh;

  @media screen and (min-width: 768px) {
    margin-bottom: 0,
  }

  div {
    width: 100%;
    text-align: center;

    a {
      display: inline;
      color: $aero;
      text-decoration: underline;
    }
  }
}