@import '../../styles/colors.scss';

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: $pennBlue;
  color: $white;
  margin-bottom: 10vh;
  padding: 1rem;
  gap: .5rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 0;
    gap: 0;
  }

  div {
    width: 100%;
    text-align: center;

    a {
      display: inline;
      color: $aero;
      text-decoration: underline;
    }
  }
}