.buttonGame {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.474);
  backdrop-filter: blur(8px);
  border-radius: .5em;
  width: 6em;
  height: 6em;

  @media screen and (min-width:768px) {
    width: 8em;
    height: 8em;
  }

  span {
    width: 100%;
    text-align: center;
    font-size: .8em;

    @media screen and (min-width:768px) {
      font-size: 1em;
    }
  }

  .available,
  .unavailable {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    filter: brightness(80%);
    cursor: not-allowed;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.611);
    border-radius: .5em;

    span {
      transform: rotate(-45deg);
      font-weight: bold;
      font-size: .9em;

      @media screen and (min-width:768px) {
        font-size: 1.2em;
      }
    }
  }

  .available {
    display: none;
  }
}