@import '../../../styles/colors.scss';

.form {
  form {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-bottom: 15vh;
    background-color: $white;
    padding: 1rem;

    @media screen and (min-width: 768px) {
      width: 60vw;
      margin-bottom: 10vh;
      gap: 3rem;
    }

    .group {
      padding: 1rem;
      width: 100%;

      label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
        font-weight: bold;

        @media screen and (min-width: 768px) {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        input,
        textarea {
          border: 1px solid $aero;
          padding: 1rem;
          border-radius: .5rem;
          width: 100%;

          @media screen and (min-width: 768px) {
            width: 70%;
          }
        }
      }
      .genderTitle {
        font-weight: bold;
      }

      .description {
        margin-top: 1rem;
      }

      .image {
        label {
          justify-content: center;
          align-items: center;
          width: 100%;
        }
      }

      .gender {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-top: 1rem;
        @media screen and (min-width: 768px) {  
          justify-content: space-between;
          flex-direction: row;
        }

        label {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem 1rem;
          border: 1px solid $aero;
          border-radius: .5rem;
          transition: background-color 1s, color 1s;
          cursor: pointer;
        }

        input {
          appearance: none;

          &:checked+label {
            background-color: $aero;
            color: $white;

          }
        }
      }

      span {
        color: $error;
      }
    }

    .image {
      background-color: $white;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
      h3 {
        width: 100%;
        text-align: left;
      }

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        height: 10rem;
        position: relative;
        border: 2px solid $aero;
        border-radius: 50%;
        overflow: hidden;

        svg {
          width: 3rem;
          height: 3rem;
        }

        input {
          display: none;
        }

        .previewImage {
          position: absolute;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          img {
            width: 15rem;
            height: 15rem;
          }

          .deleteImage, 
          .updateImage {
            position: absolute;
            background-color: transparent;
            box-shadow: 0px 0px 5px red;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 1s;
            overflow: hidden;

            &:hover {
              background-color: red;

              svg {
                color: $white;
              }
            }

            svg {
              color: red;
              width: 3rem;
              height: 3rem;
              transition: color 1s;
            }
          }
          .updateImage {
            box-shadow: none;
            svg {
              color: $white;
            }
            &:hover {
              background-color: $aero;
            }
          }
        }
      }
    }

    button {
      width: 100%;
      padding: 1rem 0;
      margin-top: 1rem;
      background-color: $aero;
      color: $white;
      font-size: 1.2em;
      border-radius: .5rem;
      &:disabled {
        background-color: gray;
        color: $white;
        cursor: not-allowed;
      }
    }
  }
}