@import '../../styles/colors.scss';

.dashboard {
  color: $black;
  width: 100vw;
  background-image: url('../../public/background/bgGray.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (min-width: 768px) {
    margin-left: 15vw;
    width: 85vw;
  }

  .nav {
    background-color: $white;
    position: absolute;
    top: 0;
    width: 70vw;
    height: 90vh;
    transform: translateX(-100%);
    transition: transform 1s;
    padding: 1rem;
    z-index: 20;

    &[data-open=true] {
      transform: translateX(0);
    }

    @media screen and (min-width: 768px) {
      width: 15vw;
      top: 10vh;
      transform: translateX(-15vw);
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      height: 100%;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
        transition: font-weight .5s;

        &[data-isActive=true] {
          font-weight: bold;
        }

        img,
        svg,
        a svg {
          width: 1.5rem;
          height: 1.5rem;
          color: $pennBlue;
          background-color: $pennBlue;
          border-radius: 50%;
        }

        svg {
          background-color: transparent;
          border-radius: 0;
        }

        a {
          display: flex;
          justify-content: space-between;
          gap: 0.5rem;
          width: 100%;

          svg {
            background-color: transparent;
            border-radius: 0;
          }
        }
      }

      .contact,
      .ours {
        @media screen and (min-width: 768px) {

          display: none;
        }

      }
    }
  }

  .burguerButton {
    position: fixed;
    bottom: 12vh;
    right: 2vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 6vh;
    height: 6vh;
    padding: .3rem;
    gap: .3rem;
    border: none;
    background-color: $pennBlue;
    border-radius: .3rem;
    transition: gap 1s;
    place-items: center;

    &[data-open=true] {
      gap: 0;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }

    .grid1,
    .grid2,
    .grid3,
    .grid4 {
      width: 100%;
      height: 100%;
      background-color: $white;
      border-radius: .2rem;
    }
  }
}