@import '../../../../styles/colors.scss';

.description {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem 1rem;
    background-color: $white;
    border-top: 1px solid $frenchBlue;
    p {
      display: flex;
      align-items: flex-start;
      gap: .5rem;

      button {
        background-color: transparent;

        svg {
          width: 1rem;
          height: 1rem;
          color: $aero;
        }
      }
    }
  }