@import '../../../../styles/colors.scss';

.CardPublications {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px $aero;
    padding: .5rem;
    width: 80vw;
    @media screen and (min-width: 768px) {
        justify-self: center;
        align-self: flex-start;
        width: 100%;
    }

    .link {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 90%;
        img {
            width: 5rem;
            height: 5rem;
        }

        .content {
            display: flex;
            flex-direction: column;

            .subtitle {
                font-weight: bold;
                margin-bottom: .5rem;
            }

            .description {
                font-size: 1rem;
                margin-bottom: 10px;
            }

        }
    }
    .delete {
        background-color: transparent;
        width: 10%;
        svg {
            width: 2rem;
            height: 2rem;
            color: red;
            border-radius: 50%;
        }
    }
}