@import '../../../../styles/colors.scss';

.formBox {
    position: fixed;
    transform: translateY(100%);
    z-index: 10;
    transition: transform 1s;

    &[data-active=true] {
        transform: translateY(0%);
    }

    .titleForm {
        height: 5vh;
        width: 100vw;
        background-color: $aero;
        color: $white;
        font-size: 1.2em;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        justify-content: flex-start;

        @media screen and (min-width: 768px) {
            width: 85vw;
        }
    }

    .form {
        background-color: white;
        height: 85vh;
        width: 100vw;
        scroll-snap-type: Y mandatory;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: .5rem;
            height: 0px;
        }

        &::-webkit-scrollbar-track {
            background: $pennBlue;
        }

        &::-webkit-scrollbar-thumb {
            background: $aero;
            border-radius: 1rem;
        }

        @media screen and (min-width: 768px) {
            width: 85vw;
        }

        .titleAndDescription {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            scroll-snap-align: center;
            .socialPublication {
                margin-top: 2rem;
            }
            label {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                width: 100%;
                font-size: 1.2em;
                font-weight: bold;
                .title {
                    border-radius: .5rem .5rem 0 0;
                }
                .description {
                    border-radius: 0 0 .5rem .5rem;
                }
                .social {
                    border-radius: .5rem;
                }
            
                .title,
                .description,
                .social {
                    border: 1px solid $aero;
                    resize: none;
                    width: 90%;
                    padding: 1rem;

                    @media screen and (min-width: 768px) {
                        width: 60%;
                    }
                }
            }
        }

        .position,
        .level,
        .preferenceTeam,
        .hoursTypeOfGamerAge .typeOfGamer {
            height: 100%;
            scroll-snap-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .title {
                font-weight: bold;
                font-size: 1.2em;
            }

            .inputBox {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                width: 90%;

                @media screen and (min-width: 768px) {
                    width: 80%;
                    grid-template-columns: repeat(3, 1fr);
                    padding: 2rem;
                }

                label {
                    border: 2px solid $aero;
                    padding: 1rem;
                    transition: background-color .5s, color .5s;
                    text-align: center;
                    font-weight: bold;
                    border-radius: .3rem;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    @media screen and (min-width: 768px) {
                        padding: 1.5rem;
                    }
                }

                input {
                    appearance: none;
                    position: absolute;

                    &:checked+label {
                        background-color: $pennBlue;
                        color: $white;
                    }
                }
            }
        }

        .hoursTypeOfGamerAge {
            height: 100%;
            scroll-snap-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .hours,
            .age {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 1rem;
                font-size: 1.2em;
                font-weight: bold;

                input[type=range] {
                    appearance: none;
                    width: 80%;
                    height: .5rem;
                    background: $aero;
                    outline: none;
                    border-radius: 1rem;
                    margin: 1rem 0;

                    @media screen and (min-width: 768px) {
                        width: 60%;
                    }

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 1rem;
                        height: 1rem;
                        background: $pennBlue;
                        cursor: pointer;
                        border-radius: 1rem;
                    }
                }
            }

            .typeOfGamer {
                width: 80%;
                height: auto;
                scroll-snap-align: none;

                .inputBox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60%;
                }
            }
        }

        .image {
            height: 100%;
            scroll-snap-align: center;
            gap: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .title {
                font-weight: bold;
                font-size: 1.2em;
            }

            .principalImage {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10rem;
                height: 10rem;
                position: relative;
                border: 2px solid $aero;
                border-radius: .5rem;
                overflow: hidden;
                cursor: pointer;

                svg {
                    width: 3rem;
                    height: 3rem;
                }

                input {
                    display: none;
                }

                .previewImage {
                    position: absolute;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 10rem;
                        height: 10rem;
                    }

                    button {
                        position: absolute;
                        background-color: transparent;
                        box-shadow: 0px 0px 5px red;
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: background-color 1s;
                        overflow: hidden;

                        &:hover {
                            background-color: red;

                            svg {
                                color: $white;
                            }
                        }

                        svg {
                            color: red;
                            width: 3rem;
                            height: 3rem;
                            transition: color 1s;
                        }
                    }
                }
            }

            .teams {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                margin-bottom: 1rem;

                @media screen and (min-width: 768px) {
                    display: flex;
                }

                label {
                    width: 5rem;
                    height: 5rem;

                    @media screen and (min-width: 768px) {
                        width: 6rem;
                        height: 6rem;

                    }
                }
            }
        }

        .buttons {
            display: flex;
            position: fixed;
            bottom: 2rem;
            right: 1rem;
            height: 5vh;
            @media screen and (min-width: 768px) {
                right: 1rem;
                bottom: 1rem;
            }

            .submit,
            .cancel {
                z-index: 20;
                padding: 0 .5rem;
                background-color: $pennBlue;
                color: $white;
                border: none;

                &:disabled {
                    background-color: gray;
                    cursor: not-allowed;
                }
            }
            .submit {
                background-color: $gradient;
            }
        }
    }
}