@import '../../../styles/colors.scss';

.editAge {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    width: 100%;

    .age {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        input[type="range"] {
            appearance: none;
            width: 90vw;
            height: .4rem;
            background: $aero;
            outline: none;

            @media screen and (min-width: 768px) {
                width: 20vw;
            }
        }

        span {
            color: red;
        }
    }

    .buttons {
        display: flex;
        gap: 1rem;

        button {
            background-color: $aero;
            color: $white;
            padding: .5rem 1rem;
            border-radius: .2rem;
            border: none;
            border: 1px solid $aero;
            cursor: pointer;
            transition: all 1s;

            &:hover {
                background-color: $white;
                color: $aero;
                border: 1px solid $aero;
            }

            &:disabled {
                background-color: gray;
                cursor: not-allowed;
            }
        }
    }

}