@import '../../styles/colors.scss';

.nav {
  position: fixed;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 10vh;
  z-index: 20;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: $pennBlue;

  @media screen and (min-width:768px) {
    top: 0;
    bottom: auto;
    border-top: none;

    &[data-transparent=true] {
      background-color: transparent;
      border-bottom: none;
    }

  }

  .logo {
    img {
      height: 30px;

      @media screen and (min-width:768px) {
        height: 40px;
      }
    }
  }

  .logIn {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    .links {
      display: none;
      gap: 2rem;

      @media screen and (min-width:768px) {
        display: flex;
      }

      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: .5rem;

          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }

    @media screen and (min-width:768px) {
      padding-right: 1.5rem;
    }

    img {
      width: 2rem;
      height: 2rem;
      background-color: $pennBlue;
      border-radius: 50%;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }

    .logInButton {
      border: none;
      background-color: transparent;
      margin-right: 1rem;

      @media screen and (min-width: 768px) {
        padding-right: 1.5rem;
      }

      svg {
        width: 30px;
        height: 30px;
      }

    }
  }
}

.placeHolder {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    height: 10vh;
  }
}