@import '../../styles/colors.scss';

.nav {
  position: fixed;
  padding: .5rem;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 2;
  color: $PURPLE;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr);
  place-items: center;
  width: 100%;
  background-color: $WHITE;

  @media screen and (min-width:768px) {
    top: 0;
    bottom: auto;
    padding: 1rem;
  }

  .logo {
    img {
      height: 20px;

      @media screen and (min-width:768px) {
        height: 40px;
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .7em;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .us {
    font-size: .8em;
    text-align: center;
  }

  .logIn {
    img {
      width: 50px;
      height: 50px;
      background-color: $PURPLE;
      border-radius: 50%;
    }

    .logInButtom {
      border: none;
      padding: 0;
      width: auto;

      svg {
        width: 30px;
        height: 30px;
      }

    }
  }
}

.burguerButton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 40px;
  height: 40px;
  padding: .3rem;
  gap: .3rem;
  border: none;
  background: $BLUE;
  border-radius: .3rem;
  transition: gap 1s;
  place-items: center;

  &[data-open=true] {
    gap: 0;
  }

  @media screen and (min-width:768px) {
    display: none;
  }

  .grid1,
  .grid2,
  .grid3,
  .grid4 {
    width: 100%;
    height: 100%;
    background-color: $WHITE;
    border-radius: .2rem;
  }
}


.placeHolder {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    height: 10vh;
  }
}