@import '../../../styles/colors.scss';

.profile {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header {
    background-color: $aero;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    color: white;
    width: 100vw;

    @media screen and (min-width: 768px) {
      width: 60vw;
      height: 5vh;
    }

    .title {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .information {
    background-color: $white;
    padding: 1rem 5vw;
    width: 100vw;
    height: 85vh;
    overflow: scroll;

    &::-webkit-scrollbar {
      background-color: $white;
      width: .3rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $aero;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }


    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      height: 85vh;
      width: 60vw;
    }

    .paragraph {
      font-weight: bold;
      padding: 2rem 0;
    }

    .form {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .group {
          width: 100%;

          @media screen and (min-width: 768px) {
            width: 80%;
          }

          label {
            display: grid;
            grid-template-columns: 1fr 2fr;

            input,
            textarea {
              padding: .5rem;
              border: 1px solid $aero;
              width: 100%;
              border-radius: .5rem;
            }
          }

          .hours {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            input[type="range"] {
              /* estilos para el elemento input */
              appearance: none;
              width: 60%;
              height: .5rem;
              background: $aero;
              outline: none;
              border: none;
              padding: 0;

              @media screen and (min-width: 768px) {
                width: 80%;
              }
            }

            input[type="range"]::-webkit-slider-thumb {
              /* estilos para el control deslizante */
              appearance: none;
              width: 1rem;
              height: 1rem;
              background: $pennBlue;
              border-radius: 50%;
              cursor: pointer;
            }
          }

          .descriptionBox {
            position: relative;

            .description {
              display: grid;
              grid-template-columns: 1fr 2fr;

              textarea {
                resize: none;
              }

              @media screen and (min-width: 768px) {
                display: static;
              }
            }

            .counter {
              position: absolute;
              bottom: 0;
              right: .5rem;
              color: $aero;
            }
          }

          .error {
            text-align: center;
            width: 100%;
            color: red;
          }
        }

        .image {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 2fr;

          @media screen and (min-width: 768px) {
            width: 80%;
          }

          .title {
            align-self: center;
            text-align: left;
          }

          label {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 7rem;
            height: 7rem;
            position: relative;
            border: 2px solid $aero;
            border-radius: 50%;
            overflow: hidden;
            justify-self: center;

            svg {
              width: 3rem;
              height: 3rem;
            }

            input {
              display: none;
            }

            .previewImage {
              position: absolute;
              z-index: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              img {
                width: 15rem;
                height: 15rem;
              }

              .deleteImage,
              .updateImage {
                position: absolute;
                background-color: transparent;
                box-shadow: 0px 0px 5px red;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color 1s;
                overflow: hidden;

                &:hover {
                  background-color: red;

                  svg {
                    color: $white;
                  }
                }

                svg {
                  color: red;
                  width: 3rem;
                  height: 3rem;
                  transition: color 1s;
                }
              }

              .updateImage {
                box-shadow: none;

                svg {
                  color: $white;
                }

                &:hover {
                  background-color: $aero;
                }
              }
            }
          }
        }

        .genderBox {
          width: 100%;
          @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 2fr;
            width: 80%;
          }
          .gender {
            display: flex;
            width: 100%;
            justify-content: space-between;

            label {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30%;
              padding: 0.5rem 1rem;
              border: 1px solid $aero;
              border-radius: .5rem;
              transition: background-color 1s, color 1s;
              cursor: pointer;
            }

            input {
              appearance: none;

              &:checked+label {
                background-color: $pennBlue;
                color: $white;

              }
            }
          }
        }
      }

      .paragraph {
        width: 100%;
      }

      button {
        width: 100%;
        padding: 1rem 0;
        margin-top: 1rem;
        background-color: $aero;
        color: $white;
        font-size: 1.2em;
        border-radius: .3rem;
        justify-self: right;

        &:disabled {
          background-color: gray;
        }

        @media screen and (min-width: 768px) {
          width: 50%;
          padding: 0.5rem;
        }
      }
    }
  }
}