@import '../../../styles/colors.scss';

.profile {
  min-height: 90vh;
  padding: 5vw;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: bold;
      font-size: 1.2em;
    }

    .signOut {
      font-size: .9em;
      padding: .5rem 1rem;
      background-color: transparent;
      border-radius: 2rem;
      border: 1px solid $aero
    }
  }

  .information {
    background-color: $white;
    margin-top: 2rem;
    padding: 1rem;

    h2 {
      font-weight: bold;
      padding: 1rem;
    }

    .form {
      form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .group {
          label {
            display: flex;
            align-items: center;
            justify-content: space-between;

            input,
            textarea {
              padding: .5rem;
              border: 1px solid $aero;
              width: 60%;
              border-radius: .5rem;
            }
          }

          .description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .5rem;

            textarea {
              width: 100%;
            }

            @media screen and (min-width: 768px) {
              display: static;
            }
          }
        }

        .gender {
          display: flex;
          justify-content: space-between;

          label {
            display: flex;
            gap: .5rem;

            input {
              appearance: none;

              &:checked {
                background-color: $aero;
              }
            }
          }
        }
      }

      button {
        width: 100%;
        padding: 1rem 0;
        margin-top: 1rem;
        background-color: $aero;
        color: $white;
        font-size: 1.2em;
        border-radius: .3rem;
      }
    }
  }
}