$cyan: #00ffff;
$aero: #00b9dc;
$aero--transparent: #00b7dc51;
$frenchBlue: #e8ecf0;
$pennBlue: #000038;
$pennBlue--TRANSPARENT: #00003884;
$white: #FFF;
$black: #000;
$black--transparent: rgba(0, 0, 0, 0.474);
$gradient: linear-gradient(70deg, #fdb100, #ffdb00);
$unavailable: rgba(128, 128, 128, 0.611);
$error: red;