$SKYBLUE: #00ffff;
$BLUE: #2571b5;
$PURPLE: #030340;
$PURPLE--TRANSPARENT: #0303408a;
$WHITE: #FFF;
$BLACK: #000;
$BLACK--TRANSPARENT: rgba(0, 0, 0, 0.474);
$GRADIENT: linear-gradient(70deg, #fdb100, #ffdb00);
$UNAVAILABLE: rgba(128, 128, 128, 0.611);