@import '../styles/colors.scss';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  height: 80vh;
  width: 100%;

  h1 {
    font-size: 1.5em;
    line-height: 2rem;
    text-align: center;
    color: $white;
    padding: 0 2rem;
    font-weight: bold;
    text-shadow: 0px 0px 5px $aero;

    @media screen and (min-width: 768px) {
      font-size: 2.5em;
      padding: 0;
    }
  }

  .games {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    width: 100%;
    place-items: center;
    gap: 1rem;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}
.allGames {
  background-color: $aero;
  color: $white;
  padding: 1rem;
  font-weight: bold;
  border-radius: .5rem;
}

.cities {
  min-height: 100vh;
  background-image: url('../public/bg/bg_dark_blue.svg');
  background-attachment: fixed;

  .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    grid-column: 1/4;
    padding: 2rem;
    line-height: 2rem;
    color: $white;
  }

  .citiesContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    place-items: center;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
      
    .madrid,
    .barcelona,
    .valencia,
    .malaga,
    .zaragoza,
    .murcia {
      width: 90%;
      height: 35vh;
      border-radius: .5rem;
      cursor: pointer;
      transition: transform .5s;
      background-image: url('../public/cities/madrid.jpg');
      background-size: cover;
      background-position: bottom;
      position: relative;
      text-shadow: 0px 0px 5px $aero;

      &:hover {
        transform: translateY(-10px);
      }

      div {
        color: $white;
        font-size: 1.5rem;
        font-weight: bold;
        width: 100%;
        text-align: center;
        padding: 1rem;
      }
    }
    .barcelona {
      background-image: url('../public/cities/barcelona.jpg');
    }
    .valencia {
      background-image: url('../public/cities/valencia.jpg');
    }
    .malaga {
      background-image: url('../public/cities/malaga.jpg');
    }
    .zaragoza {
      background-image: url('../public/cities/zaragoza.webp');
    }
    .murcia {
      background-image: url('../public/cities/murcia.jpg');
    }
  }
}