@import '../../styles/colors.scss';

.city {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .cardBox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: min-content;
        height: 90vh;
        overflow: scroll;
        background-image: url('../../public/background/bg-dark-blue.svg');
        background-attachment: fixed;
        &::-webkit-scrollbar {
            display: none;
        }
        .title {
            grid-column: 1/5;
            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            color: $white;
        }
    }
}