@import '../../../styles/colors.scss';

.myPublications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    padding-bottom: 5vh;
    @media screen and (min-width: 768px) {
        padding-bottom: 0;
    }
    .title {
        background-color: $aero;
        color: $white;
        font-weight: bold;
        padding-left: 1rem;
        font-size: 1.2em;
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px) {
            width: 60vw;
        }
    }
    .cardBox {
        background-color: $white;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
        padding: 1rem;
        @media screen  and (min-width: 768px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: min-content;
            width: 60vw;
        }
        .subtitle {
            padding: 1rem;
            font-weight: bold;
            text-align: center;
            grid-column: 1/4;
        }
    }
}