@import '../../styles/colors.scss';

.formFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  cursor: pointer;

  .title {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;

    svg {
      width: 1rem;
      height: 1rem;
      color: $PURPLE;
    }
  }

  .inputsBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100%;
    align-items: center;
    background-color: $WHITE;
    padding: 2rem 0;

    @media screen and (min-width: 768px) {
      top: 30vh;
      width: 60vw;
    }

    label,
    .rageAge {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5rem;
      box-shadow: 0px 0px 5px $PURPLE;
      border-radius: .5rem;
      width: 90%;
      justify-self: center;
      cursor: pointer;

      input[type="checkbox"] {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        appearance: none;
      }

      input[type="checkbox"]:after {
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $WHITE;
        border: 1px solid $PURPLE;
      }

      input[type="checkbox"]:checked:after {
        content: '✔';
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $PURPLE;
        border-color: $WHITE;
        color: $WHITE;
      }
    }

    .rangeAge {
      grid-column: 1/3;
      justify-self: center;
      width: 18rem;
      gap: 1rem;
      flex-direction: column;

      .range {
        display: flex;

        input[type="range"] {
          /* estilos para el elemento input */
          appearance: none;
          max-width: 10rem;
          height: .5rem;
          background: $PURPLE;
          outline: none;
        }

        input[type="range"]::-webkit-slider-thumb {
          /* estilos para el control deslizante */
          appearance: none;
          width: 1.5rem;
          height: 1.5rem;
          background: $PURPLE;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }

    .distance {
      grid-column: 1/3;
      justify-self: center;
      gap: 1rem;
      width: 250px;

      span {
        width: 100px
      }

      input[type="range"] {
        appearance: none;
        width: 15rem;
        height: .4rem;
        background-color: $PURPLE;
        border-radius: 5px;
        outline: none;
      }

      input[type="range"]::-webkit-slider-thumb {
        appearance: none;
        width: 1.2rem;
        height: 1.2rem;
        background: $PURPLE;
        border-radius: 50%;
        cursor: pointer;
      }

    }

  }
}